{% extends "layout.html" %}
{% block content %}
<div class="container mt-3">
  <div class="card">
    <div class="card-body">
        <img class="house-post-image" src="{{ image_file }}">
        <h2>{{ house.bhk }} BHK {{ house.property_type }} for {{ house.post_type }} in {{ house.locality }}, {{ house.city }}</h2>
        <p>BHK : {{ house.bhk }}</p>
        <p>City : {{ house.city }}</p>
        <p>Locality : {{ house.locality }}</p>
        <p>Address : {{ house.address }}</p>
        <p>Property Type : {{ house.property_type }}</p>
        <p>Area : {{ house.area }} Sq.ft</p>
        <p>Verified : {{ house.verified }}</p>
        {% if house.post_type == 'Rent' %}
        <p>Rent Per Month : {{ house.rent_per_month }}</p>
        {% else %}
        <p>Price : {{ house.price }}</p>
        {% endif %}
        <p>Posted by {{ house.user.name }}</p>
        {% if house.user == current_user %}
        <div>
            <a class="btn btn-info" href="{{ url_for('update_post', house_id=house.house_id) }}">Update</a>
            <button class='btn btn-danger' onclick="myFunction()">Delete</button>
        </div>
        {% else %}
        <div>
            <a class="btn btn-info" href="#">Add to favourites</a>
        </div>
        {% endif %}
    </div>
  </div>
</div>

<script>
function myFunction() {
  let text = "Are you sure you want to delete this house post?";
  if (confirm(text) == true) {
    window. location = '{{url_for('delete_post', house_id=house.house_id)}}'
  }
}
</script>

{% endblock %}