{% extends 'layout.html' %}
{% block content %}
<div class="container forms">
        <div class="col-md-6">
            <form method="POST" novalidate >
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <h1 class="h3 mb-3 fw-normal">Sell House</h1>
                    <div class="form-group">
                        {{ form.city.label }}
                        {% if form.city.errors %}
                            {{ form.city(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.city.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.city(class="form-control") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.locality.label }}
                        {% if form.locality.errors %}
                            {{ form.locality(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.locality.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.locality(class="form-control") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.address.label }}
                        {% if form.address.errors %}
                            {{ form.address(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.address.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.address(class="form-control") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.property_type.label }}
                        {% if form.property_type.errors %}
                            {{ form.property_type(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.property_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.property_type(class="form-control") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.bhk.label }}
                        {% if form.bhk.errors %}
                            {{ form.bhk(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.bhk.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.bhk(class="form-control") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.size.label }}
                        {% if form.size.errors %}
                            {{ form.size(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.size.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.size(class="form-control") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.price.label }}
                        {% if form.price.errors %}
                            {{ form.price(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control") }}
                        {% endif %}
                        {% if form.extension.errors %}
                            {{ form.extension(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.extension.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.extension(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <br>
                <div>
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>

    </div>
{% endblock content %}