.py-2
{
    background-color : #207985 !important;
}
.house-post-image{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.update-form-images{
    height : 200px;
    width : 200px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.home-my-posts-house-img{
    height: 200px;
    width: 280px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.user-profile{
    height : 200px;
    width : 200px;
    border-radius : 50%;
}
.user-profile-in-update-profile{
    height : 150px;
    width : 150px;
}
.user-profile-in-post{
    height : 50px;
    width : 50px;
    border-radius : 50%;
}
.article-metadata{
    padding-bottom : 5px;
    margin-bottom : 5px;
    border-bottom : 1px solid black;
}
.admin-sidebar{
    margin : 10px;
    border-right : 3px solid #207985;
    width : 300px;
    height : 800px;
}
.user-detail{
    padding : 20px;
    width : 500px;
    border : 1px solid black;
    border-radius : 15px;
}

#chat-section span{
    font-size : 5px;
}