.py-2
{
    background-color : #207985 !important;
}
.house-post-image{
    height: 300px;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.home-my-posts-house-img{
    height: 200px;
    width: 200px;
    margin-right: 20px;
    margin-bottom: 16px;
}
.admin-sidebar{
    margin : 10px;
    border-right : 3px solid #207985;
    width : 300px;
    height : 800px;
}
.user-detail{
    padding : 20px;
    width : 500px;
    border : 1px solid black;
    border-radius : 15px;
}
